@media (min-width: 800px) {
    #about {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: auto;

        text-align: center;
        background-color: #ffcf00;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #works {
        text-align: center;
        position: relative;
        height: auto;
        background-color: #ffcf00;  
        background-size: cover;
        background-position: center;
    }

    #speciality {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;

        text-align: center;
        background-color: #2cd7e0;  
        height: auto;
        background-image: url(/images/bg_speciality.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    #speciality img{
        bottom: 50px;
        max-width: 430px;
    }

}


@media (max-width: 800px) {
    #about {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }

    #speciality {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: auto;
    }

    #speciality img {
        align-content: center;
    }

    #works {
        position: relative;
        height: auto;
    }

    #works img {
        position: relative;
    }
}


@media (max-width: 900px) {
    #speciality {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: auto;
    }

    #speciality img {
        align-content: center;
    }
}

@media (min-width: 800px) {
    #pickpic {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #456ebb;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_pickpic.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


@media (max-width: 900px) {
    #pickpic {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }
}


@media (min-width: 800px) {
    #message {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #bec9cb;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_message.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


@media (max-width: 900px) {
    #message {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }
}














html, body {
    margin: 0px;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.container section {    
    height: auto;
}

#about {
    text-align: center;
    background-color: #ffcf00;  
    position: relative;
    height: 100%;
}

#speciality {
    min-height: 100%;
    background-color: #2cd7e0;
}

#works {
    min-height: 100%;
    background-color: #eeeeee;
    text-align: center;

}
#works img {
    padding: 20px;
}

#pickpic {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    text-align: center;
    background-color: #456ebb;  
    position: relative;
    height: 100%;
}

#pickpic img {
    max-width: 100%;
}

#message {
    text-align: center;
    position: relative;
    height: 100%;
    background-color: #bec9cb;
}

#message img {
    max-width: 100%;
}

nav {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

.down {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.images {
    padding-top: 20px;
}

h1{
    margin: 0;
    padding: 40px 0 0 70px;
    font-family: "Open Sans";
    font-size: 14pt;
    font-weight: 600;
    text-align: left;
    color: #303030;
    letter-spacing: 5px;
}