html, body {
    margin: 0px;
    height: 100%;
}



.container {
      min-height: 100%;
    min-width: 1024px;
         
    width: 100%;
    height: auto;
 
}

.container section {    
    height: 100%;
    
}

#about {
    background-color: #ffcf00;
}

#about .img {
    position:absolute; 
    z-index:2;
}

#about .txt {
    position:absolute; 
    z-index:1;
}

#speciality {
    background-color: #2cd7e0;
}

#works {
    background-color: #eeeeee;
}
#works img {
    padding: 20px;
}

#pickpic {
    background-color: #456ebb;
    text-align: center;
}

#pickpic img {
    position: relative;
}

#message {
    background-color: #bec9cb;
    text-align: center;
}
