@media (min-width: 800px) {
    #about {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #ffcf00;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


@media (max-width: 800px) {
    #about {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }
}

@media (min-width: 900px) {
    #speciality {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #2cd7e0;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_speciality.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    #speciality img{
        margin: 140px -15px;
        height: auto;
    }

}

@media (max-width: 900px) {
    #specialyty {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #speciality img {
        align-content: center;
        width: 80%;
        height: 80%;
        vertical-align: middle;
    }
}

@media (min-width: 800px) {
    #pickpic {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #456ebb;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_pickpic.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


@media (max-width: 900px) {
    #pickpic {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }
}


@media (min-width: 800px) {
    #message {

        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        position: relative;
        height: 100%;

        text-align: center;
        background-color: #bec9cb;  
        position: relative;
        height: 100%;
        background-image: url(/images/bg_message.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}


@media (max-width: 900px) {
    #message {
        display: box;
        box-pack: center;
        box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        text-align: center;
        height: 100%;
    }

    #about img {
        width: 100%;
        vertical-align: middle;
    }
}














html, body {
    margin: 0px;
    height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.container section {    
    height: auto;
}

#about {
    text-align: center;
    background-color: #ffcf00;  
    position: relative;
    height: 100%;
}

#speciality {
    background-color: #2cd7e0;
    position: relative
}

#works {
    display: flex;
    background-color: #eeeeee;
}
#works img {
    flex: 1;
    padding: 20px;
    height: 100%;
    width: 100%;
}

#pickpic {
    text-align: center;
    background-color: #456ebb;  
    position: relative;
    height: 100%;
}

#pickpic img {
    max-width: 100%;
}

#message {
    text-align: center;
    position: relative;
    height: 100%;
    background-color: #bec9cb;
}

#message img {
    max-width: 100%;
}
